body:not(.modal){

    display: flex;
    justify-content:center;
    margin-top: 25px;
    font-family: arial;
    
}
a, a:hover{
    text-decoration: none;
    color: black;
    
}
.logo{

    width: 150px;  
    height: 60px;
    padding: 5px;
    transform: translate(38%, 0%)
}

#container{

    background: rgb(255, 0, 0);
    width: 400px;
    border: 2px solid #dc3545;
}
.content{

   
    background: white;
    border: 2px solid rgb(255, 0, 0);
    height: 210px;

}
.secondary{

background: black;
padding-bottom: 250px;


}
 .slide{

    height: 206px;
}


.card-img-top{
    
    width: 40px;
    height: 40px;

}






ul{

}

